<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>vue JS</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    
    <script src="app.js"></script>
</head>
<body>
    <div id="app">
       <h1 v-show="!isLoggedIn"> {{message}}</h1>
    </div>
   
    
</body>
</html>